body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button:focus {
	outline: 0px dotted !important;
	outline: 0px auto -webkit-focus-ring-color !important;
}

.full-screen {
	width: 100%;
	height: 100%;
}

.margin-30 {
	margin: 30px;
}

.margin-top-30 {
	margin-top: 40px;
}

.center-screen {
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	overflow-x: auto;
}

.link-to {
	color: rgba(31, 133, 250, 0.822);
}
